{
  "extends": "airbnb",
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": 0,
    "semi": ["off"],
    "indent": ["off"],
    "keyword-spacing": ["off"],
    "padded-blocks": ["off"],
    "spaced-comment": ["off"],
    "max-len": ["off"],


    "arrow-body-style": ["off", "as-needed"],
    "radix": ["off"],

    "jsx-quotes": ["warn", "prefer-single"],
    "react/prop-types": ["off"]


  }
}