.btn-rolodexGreen {
  color: #FFFFFF;
  background-color: #99BF1A;
  border-color: #99BF1A;
}
.btn-rolodexGreen:hover,
.btn-rolodexGreen:focus,
.btn-rolodexGreen:active,
.btn-rolodexGreen.active,
.open .dropdown-toggle.btn-rolodexGreen {
  color: #FFFFFF;
  background-color: #83A11E;
  border-color: #99BF1A;
}
.btn-rolodexGreen:active,
.btn-rolodexGreen.active,
.open .dropdown-toggle.btn-rolodexGreen {
  background-image: none;
}
.btn-rolodexGreen.disabled,
.btn-rolodexGreen[disabled],
fieldset[disabled] .btn-rolodexGreen,
.btn-rolodexGreen.disabled:hover,
.btn-rolodexGreen[disabled]:hover,
fieldset[disabled] .btn-rolodexGreen:hover,
.btn-rolodexGreen.disabled:focus,
.btn-rolodexGreen[disabled]:focus,
fieldset[disabled] .btn-rolodexGreen:focus,
.btn-rolodexGreen.disabled:active,
.btn-rolodexGreen[disabled]:active,
fieldset[disabled] .btn-rolodexGreen:active,
.btn-rolodexGreen.disabled.active,
.btn-rolodexGreen[disabled].active,
fieldset[disabled] .btn-rolodexGreen.active {
  background-color: #99BF1A;
  border-color: #99BF1A;
}
.btn-rolodexGreen .badge {
  color: #99BF1A;
  background-color: #FFFFFF;
}
ul#ulSidebar a.nav-link {
  color: #99BF1A;
}
ul#ulSidebar a.nav-link.active {
  color: #ffffff;
  background-color: #99BF1A ;
}
div.userForm form {
  width: 50%;
}
.error {
  color: red;
}
